body
{
    background-color: #8bfc6f;
    
}
input
{
     background-color: #eafaf1;color: blue;width: 100%;height: 35px;font-size: 22px;
}

h1
{
    color: #030de6;text-align: center;
}
table
{
    border: 0px solid blue;border-collapse: collapse;outline: 15px outset #3a802c;

}
td{
    border: 0px solid blue;width: 400px;px;height: 90px;
    text-align: center;font-size: 30px;
    background-color: #b1b8cb;color: blue;

}
span
{
    color: red;
}
